[Unit]
Description=Daily timer for hostsblock.service

[Timer]
OnCalendar=daily
AccuracySec=12h
Persistent=true

[Install]
WantedBy=multi-user.target
