[Unit]
Description=Reload dnsmasq.service if hostsblock detects changes
Conflicts=hostsblock-hosts-clobber.path hostsblock-hosts-clobber.service

[Service]
Type=oneshot
ExecStart=%SYSTEMCTLPATH% reload-or-restart dnsmasq.service
