[Unit]
Description=Clobber /etc/hosts if hostsblock detects changes
Conflicts=hostsblock-dnsmasq-restart.path hostsblock-dnsmasq-restart.service

[Service]
Type=oneshot
ExecStart=%SHPATH% -l -c "cp -f %_HOME%/hosts.block /etc/hosts; chmod 444 /etc/hosts"
