[Unit]
Description=Block bad domains system-wide
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=hostsblock
Group=hostsblock
ExecStart=/usr/bin/hostsblock
CapabilityBoundingSet=
UMask=022
NoNewPrivileges=true
Nice=19
IOSchedulingClass=idle
ProtectSystem=strict
ReadWritePaths=/var/lib/hostsblock /tmp
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictAddressFamilies=AF_INET AF_INET6
SystemCallArchitectures=native
RestrictNamespaces=true
LockPersonality=true
MemoryDenyWriteExecute=true
RestrictRealtime=true
RemoveIPC=true
SystemCallFilter=~@aio @chown @clock @cpu-emulation @debug @keyring @memlock @module @mount @obsolete @privileged @raw-io @reboot @resources @setuid @swap @sync @timer

