[Unit]
Description=Reload dnsmasq.service if hostsblock detects changes

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl reload-or-restart dnsmasq.service
