pkgbase = hostsblock
	pkgdesc = A script and cronjob that downloads, sorts, and installs multiple ad- and malware-blocking hosts files.
	pkgver = 0.999.2
	pkgrel = 1
	url = http://gaenserich.github.com/hostsblock/
	install = hostsblock.install
	changelog = hostsblock.changelog
	arch = any
	license = GPL
	depends = bash
	depends = curl
	depends = grep
	depends = sed
	depends = coreutils
	optdepends = dnsmasq: helps speed up DNS resolutions
	optdepends = pixelserv: removes boilerplate page on blocked urls
	optdepends = kwakd: removes boilerplate page on blocked urls (recommended)
	optdepends = unzip: allows the use of zipped downloads
	optdepends = p7zip: allows the use of 7zipped downloads
	optdepends = gzip: allows compression of old blockfile
	backup = etc/hostsblock/hostsblock.conf
	backup = etc/hostsblock/black.list
	backup = etc/hostsblock/white.list
	backup = etc/hostsblock/hosts.head
	source = hostsblock.sh
	source = hostsblock-urlcheck.sh
	source = hostsblock-common.sh
	source = hostsblock.conf
	source = black.list
	source = white.list
	source = hosts.head
	source = hostsblock.service
	source = hostsblock.timer
	md5sums = ccc9ec72746b7302aae9d970f0a752e7
	md5sums = aadad00fec8fe842af5a748d39ef5484
	md5sums = 8d01f7141845ecd481098300ecde652e
	md5sums = c198b1dd1e69982e00000d2e3065a400
	md5sums = 216d5af213e0eb3690ea3c27d4cc6258
	md5sums = 3a6ea9f5b0eef002b6ca1dd57388d78a
	md5sums = 949af91b7a40582de127eb43a96f001e
	md5sums = c42cf86eb028e30feacc828231b8c084
	md5sums = 96d43b8f9e81f85111a2ac370c8954d8

pkgname = hostsblock

